@{
    ViewBag.Title = "Setup Error";
}

<center>
    <div class="jumbotron" style="color: red;">
        <h1>Application Error</h1>
        <p class="lead">You have not set your ApplicationId and ApplicationSecret. This is required for this application to work. See <strong>LinnAppFramework/Classes/AppSettings.cs</strong></p>
    </div>
</center>