@{
    ViewBag.Title = "Home";
}

<center>
    <div class="jumbotron">
        <h1>Welcome</h1>
        <p class="lead">Welcome to your application. If you can see this screen you have successfully added your application. <strong>Awesome!</strong></p>
        <a class="btn btn-success" href="/Main/Data">Show me some data!</a>
    </div>

    <h2>Homepage</h2>
    <p>This page is configured to be the first page that a user will see when succesfully authorizing through your application. This application can be used as a standalone application, or as an external page application as demonstrated.</p>
</center>