{
  "openapi": "3.0.1",
  "info": {
    "title": "Warehouse Transfer",
    "description": "Warehouse Transfer v1",
    "version": "v1-public"
  },
  "servers": [
    {
      "url": "https://apim-eu.linnworks.net/gateway/warehousetransfer",
      "description": "Production EU Server"
    },
    {
      "url": "https://apim-us.linnworks.net/gateway/warehousetransfer",
      "description": "Production US Server"
    },
    {
      "url": "https://apim-as.linnworks.net/gateway/warehousetransfer",
      "description": "Production AS Server"
    }
  ],
  "paths": {
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/{shipmentId}": {
      "get": {
        "tags": [
          "FbaShipment"
        ],
        "summary": "GetShipmentById",
        "description": "Used to get shipment by id",
        "operationId": "GetShipmentById",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentResponse"
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "FbaShipment"
        ],
        "summary": "UpdateShipment",
        "description": "Used to update shipment",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentRequest"
              }
            },
            "text/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentRequest"
              }
            },
            "application/*+json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/{shipmentId}/inbound": {
      "put": {
        "tags": [
          "FbaShipment"
        ],
        "summary": "UpdateInboundShipment",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/{shipmentId}/approve": {
      "post": {
        "tags": [
          "FbaShipment"
        ],
        "summary": "ApproveShipment",
        "description": "Used to approve shipment",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApproveShipmentResponse"
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/{shipmentId}/ship": {
      "post": {
        "tags": [
          "FbaShipment"
        ],
        "summary": "ShipShipment",
        "description": "Used to mark as shipped",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/approve": {
      "post": {
        "tags": [
          "FbaShipment"
        ],
        "summary": "ApproveAllShipments",
        "description": "Approves all shipments",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApproveShipmentResponse"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/{shipmentId}/void": {
      "delete": {
        "tags": [
          "FbaShipment"
        ],
        "summary": "VoidShipment",
        "description": "Used to void shipment",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/withshipmentitems": {
      "get": {
        "tags": [
          "FbaShipment"
        ],
        "summary": "GetShipmentsWithItemsByShippingPlanId",
        "description": "this method is used to get shipments for a specific shipping plan",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentResponse"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments": {
      "get": {
        "tags": [
          "FbaShipment"
        ],
        "summary": "GetShipmentsByShippingPlanId",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentResponse"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/{shipmentId}/name": {
      "put": {
        "tags": [
          "FbaShipment"
        ],
        "summary": "UpdateShipmentName",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentNameRequest"
              }
            },
            "text/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentNameRequest"
              }
            },
            "application/*+json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentNameRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/{shipmentId}/amazon-shipment-items": {
      "delete": {
        "tags": [
          "FbaShipment"
        ],
        "summary": "DeleteAmazonShipmentItem",
        "description": "Used to delete shipment items in batch on amazon and in db",
        "parameters": [
          {
            "name": "shipmentItemId",
            "in": "query",
            "schema": {
              "maxItems": 200,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/{shipmentId}/boxes": {
      "post": {
        "tags": [
          "FbaShipmentBox"
        ],
        "summary": "Add",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/AddShipmentBoxesRequest"
              }
            },
            "text/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/AddShipmentBoxesRequest"
              }
            },
            "application/*+json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/AddShipmentBoxesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddShipmentBoxesResponse"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "FbaShipmentBox"
        ],
        "summary": "Update",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentBoxRequest"
              }
            },
            "text/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentBoxRequest"
              }
            },
            "application/*+json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentBoxRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "FbaShipmentBox"
        ],
        "summary": "Get",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShipmentBoxesResponse"
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/{shipmentId}/boxes/{shipmentBoxId}": {
      "delete": {
        "tags": [
          "FbaShipmentBox"
        ],
        "summary": "Delete",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentBoxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/{shipmentId}/boxes/pallets": {
      "put": {
        "tags": [
          "FbaShipmentBox"
        ],
        "summary": "UpdateShipmentBoxPallets",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentBoxPalletsRequest"
              }
            },
            "text/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentBoxPalletsRequest"
              }
            },
            "application/*+json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentBoxPalletsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/{shipmentId}/boxitems": {
      "put": {
        "tags": [
          "FbaShipmentBoxItem"
        ],
        "summary": "AddUpdateShipmentBoxItems",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; x-api-version=1.0-public": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AddUpdateShipmentBoxItemRequest"
                }
              }
            },
            "text/json; x-api-version=1.0-public": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AddUpdateShipmentBoxItemRequest"
                }
              }
            },
            "application/*+json; x-api-version=1.0-public": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AddUpdateShipmentBoxItemRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "FbaShipmentBoxItem"
        ],
        "summary": "Delete",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentBoxItemIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/{shipmentId}/feeds": {
      "put": {
        "tags": [
          "FbaShipmentFeed"
        ],
        "summary": "SubmitCartonInformationFeed",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/{shipmentId}/feeds/error-message": {
      "get": {
        "tags": [
          "FbaShipmentFeed"
        ],
        "summary": "GetCartonInformationFeedError",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCartonInformationFeedErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/shipmentitems": {
      "post": {
        "tags": [
          "FbaShipmentItem"
        ],
        "summary": "CreateShipmentItemBatch",
        "description": "Used to create shipment items in batch",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/CreateShipmentItemInBulkRequest"
              }
            },
            "text/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/CreateShipmentItemInBulkRequest"
              }
            },
            "application/*+json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/CreateShipmentItemInBulkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentItemResponse"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "FbaShipmentItem"
        ],
        "summary": "DeleteShipmentItem",
        "description": "Used to delete shipment items in batch",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/DeleteShipmentItemRequest"
              }
            },
            "text/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/DeleteShipmentItemRequest"
              }
            },
            "application/*+json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/DeleteShipmentItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "FbaShipmentItem"
        ],
        "summary": "GetShipmentItems",
        "description": "Used to get shipment items by shipping plan id",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentItemResponse"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipmentitems": {
      "get": {
        "tags": [
          "FbaShipmentItem"
        ],
        "summary": "GetShipmentItemsByIds",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shippingItemId",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentItemResponse"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/shipmentitems/{shipmentItemId}/quantity": {
      "put": {
        "tags": [
          "FbaShipmentItem"
        ],
        "summary": "UpdateQuantity",
        "description": "Used to update quantity to ship in shipment item",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shipmentItemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateQuantityRequest"
              }
            },
            "text/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateQuantityRequest"
              }
            },
            "application/*+json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateQuantityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/shipmentitems/{shipmentItemId}/pack-size": {
      "put": {
        "tags": [
          "FbaShipmentItem"
        ],
        "summary": "UpdatePackSize",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentItemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePackSizeQuantityRequest"
              }
            },
            "text/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePackSizeQuantityRequest"
              }
            },
            "application/*+json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePackSizeQuantityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/shipmentitems/{shipmentItemId}/pack-quantity": {
      "put": {
        "tags": [
          "FbaShipmentItem"
        ],
        "summary": "UpdatePackQuantity",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentItemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePackQuantityRequest"
              }
            },
            "text/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePackQuantityRequest"
              }
            },
            "application/*+json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePackQuantityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateQuantityResult"
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/shipmentitems/{shipmentItemId}": {
      "put": {
        "tags": [
          "FbaShipmentItem"
        ],
        "summary": "UpdateShipmentItem",
        "description": "Used to update shipment item",
        "parameters": [
          {
            "name": "shipmentItemId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentItemRequest"
              }
            },
            "text/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentItemRequest"
              }
            },
            "application/*+json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/shipmentitems/update-shipment-item-prep-instruction": {
      "put": {
        "tags": [
          "FbaShipmentItem"
        ],
        "summary": "UpdateShipmentItemPrepInstruction",
        "description": "update all prep instructions for shipment item",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentItemPrepInstructionRequest"
              }
            },
            "text/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentItemPrepInstructionRequest"
              }
            },
            "application/*+json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentItemPrepInstructionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/shipmentitems/update-shipping-plan-prep-instruction": {
      "put": {
        "tags": [
          "FbaShipmentItem"
        ],
        "summary": "UpdateShippingPlanPrepInstructionsByShippingPlanId",
        "description": "Used to retrieve prepare instructions for sku list from Amazon and saves to db",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/shipmentitems/prep-instruction": {
      "get": {
        "tags": [
          "FbaShipmentItem"
        ],
        "summary": "GetPrepInstructionsByShippingPlanId",
        "description": "Used to retrieve prepare instructions for sku list",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPrepInstructionsByShippingPlanIdResponse"
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/shipmentitems/prep-instruction-by-shipmentitemids": {
      "get": {
        "tags": [
          "FbaShipmentItem"
        ],
        "summary": "GetPrepInstructionsByShipmentItemIds",
        "description": "Used to retrieve prepare instructions for sku list",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentItemIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPrepInstructionsByShipmentItemIdsResponse"
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/shipmentitems/update-shipment-item-prep-instruction-owner": {
      "put": {
        "tags": [
          "FbaShipmentItem"
        ],
        "summary": "UpdateShippingItemWhoLabelPrep",
        "description": "update prep owner for shipment item",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentItemPrepInstructionOwnerRequest"
              }
            },
            "text/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentItemPrepInstructionOwnerRequest"
              }
            },
            "application/*+json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentItemPrepInstructionOwnerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/shipmentitems/{shipmentItemId}/amazon-quantity": {
      "put": {
        "tags": [
          "FbaShipmentItem"
        ],
        "summary": "UpdateAmazonShipmentItemQuantity",
        "description": "Used to update quantity to ship in shipment item and on amazon",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentItemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAmazonShipmentItemQuantityRequest"
              }
            },
            "text/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAmazonShipmentItemQuantityRequest"
              }
            },
            "application/*+json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAmazonShipmentItemQuantityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/shipmentitems/{shipmentItemId}/amazon-pack-quantity": {
      "put": {
        "tags": [
          "FbaShipmentItem"
        ],
        "summary": "UpdateAmazonShipmentItemPackQuantity",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentItemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAmazonShipmentItemPackQuantityRequest"
              }
            },
            "text/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAmazonShipmentItemPackQuantityRequest"
              }
            },
            "application/*+json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAmazonShipmentItemPackQuantityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/shipmentitems/batches": {
      "post": {
        "tags": [
          "FbaShipmentItemBatch"
        ],
        "summary": "AddItemBatch",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/AddShipmentItemBatchesRequest"
              }
            },
            "text/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/AddShipmentItemBatchesRequest"
              }
            },
            "application/*+json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/AddShipmentItemBatchesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/api/1.0/fbainbound/shippingplans/{shippingPlanId}/shipments/{shipmentId}/pallets": {
      "post": {
        "tags": [
          "FbaShipmentPallet"
        ],
        "summary": "Add",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/AddShipmentPalletsRequest"
              }
            },
            "text/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/AddShipmentPalletsRequest"
              }
            },
            "application/*+json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/AddShipmentPalletsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddShipmentPalletsResponse"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "OAuth2"
            ],
            "Linnworks": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "FbaShipmentPallet"
        ],
        "summary": "Update",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentPalletRequest"
              }
            },
            "text/json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentPalletRequest"
              }
            },
            "application/*+json; x-api-version=1.0-public": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentPalletRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
[...]
